<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--网络访问权限-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test1"
        tools:targetApi="31">

        <!-- 主活动（启动活动） -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"> <!-- 确保这里使用了正确的主题 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".KeyboardActivity" android:theme="@style/AppTheme">
            <!-- intent-filter 或其他配置 -->
        </activity>
        <!-- 其他活动 -->
        <activity android:name=".ClockActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".MicActivity" />

        <activity android:name=".ImageActivity" />
        <activity android:name=".PersonalActivity" />

    </application>

</manifest>